<nav class="navbar navbar-expand-sm bg-dark">
	<div class="container-fluid navbarDiv">
		<a class="navbar-brand text-white titreNavBar" routerLink="/home">Tangular</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/home" routerLinkActive="gras" aria-current="page">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/cat" routerLinkActive="gras" aria-current="page">Chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/dog" routerLinkActive="gras" aria-current="page">Chien</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/about" routerLinkActive="gras" aria-current="page">A propos</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
