<nav class="navbar navbar-expand-lg bg-dark" style="display: flex; font-family: 'Sora', sans-serif; background-color: #0D1117!important">
	<div class="container-fluid" style="width: 95%; padding-bottom: 10px; border-bottom: solid 3px #21262D">
		<a class="navbar-brand text-white titreNavBar" href="https://github.com/Vilquid/Tangular">Tangular</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/home" routerLinkActive="gras" aria-current="page">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/cat" routerLinkActive="gras" aria-current="page">Chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/dog" routerLinkActive="gras" aria-current="page">Chien</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink="/about" routerLinkActive="gras" aria-current="page">A propos</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
