@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;600;700&display=swap');


/*Générale*/
body{
	background-color: #0D1117;
}

p {
	color: #fff;
	font-family: 'Sora', sans-serif;
}

h1 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 5em;
	font-family: 'Sora', sans-serif;
	font-weight: bold;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color:#7371FF!important;
}


*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/*NavBar | SearchBar*/
.titreNavBar{
	font-weight: bold;
}

.navbar{
	display: flex;
	font-family: 'Sora', sans-serif;
	background-color: #0D1117!important
}

.navbarDiv{
	width: 95%;
	padding-bottom: 10px;
	border-bottom: solid 3px #21262D
}

.btn:hover{
	background-color: #22F1BF;
}

.navbar-toggler{
	background-color: #7371FF;
	border-color: #7371FF;
}

/*Gif Card*/

.gifCard {
	padding: 0;
	border-radius: 15px;
	box-shadow: 2px 2px 10px 1px rgba(53, 53, 53, 0.2);
	border: none;
	background-color: #21262D;
}

.gifDescription {
	color: #7371FF;
}

.gifImg {
	border-radius: 15px;
}

.gifFooter {
	border-radius: 0 0 15px 15px !important;
	border-top: none;

}

.badge{
	background-color: #22F1BF!important;
	border: 0px;
	color: #21262D!important;
	font-family: 'Sora', sans-serif;

}

/*Page about*/
.aboutCard{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutCard svg{
	margin-bottom: 20px;
}

.aboutCard h2, .container h2{
	font-family: 'Sora', sans-serif;
	color: #ffffff;
	text-align: center;
	transition: 300ms ease;
}

.aboutCard h2:hover{
	color: #7371FF;
}

.about{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

