@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body
{
    background: #993399;
}

a
{
    color: white;
    text-decoration: none;
}

h1
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 5em;
    font-family: 'Secular One', sans-serif;
}

